@media (max-width: 1199px) {
	header {
		.header-bottom {
	        .main-menu {
	            nav {
	                a {
	                    margin-right: 20px;
	                    font-size: 13px;
	                    padding: 0 7px;
	                }
	            }
	        }
	    }
	}
	#main {
		.slider-banner {
			.item {
				.w-text {
					margin-left: 50px;
				}
			}
		}
		.bg-answer {
	        .abs {
	            .slider-answer {
	            	.slick-prev {
		                left: -40px;
		                &:hover {
		                    left: -45px;
		                }
		            }
		            .slick-next {
		                right: -40px;
		                &:hover {
		                    right: -45px;
		                }
		            }
	            }
	        }
	    }
		.css-artikel {
	        .box-artikel {
	            .item-artikel {
	                a {
	                    .in-artikel {
	                        height: 240px;
	                        .hvr-artikel {
	                        	.bdy {
	                        		p {
	                        			height: 75px;
	                        		}
	                        	}
	                        }
	                    }
	                }
	            }
	            .item-artikel2 {
	            	&.small {
	                    a {
	                        .tbl {
	                            .cell {
	                                &.img-artikel {
	                                    width: 200px;
	                                    img {
	                                        height: 180px;
	                                        height: 120px;
	                                    }
	                                }
	                                .t {
	                                    font-size: 14px;
	                                    line-height: 17px;
	                                }
	                            }
	                        }
	                    }
	                }
	                a {
	                    .tbl {
	                        .cell {
	                            &.img-artikel {
	                                width: 190px;
	                                img {
	                                    height: 170px;
	                                }
	                            }
	                            .t {
	                            	height: 60px;
	                                font-size: 18px;
	                                line-height: 20px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
		.bg-cabang {
			.pad-program {
				.abs-elips {
					top: 50%;
				}
			}
	        .slider-cabang {
	        	.slick-prev {
	                left: -40px;
	                &:hover {
	                    left: -45px;
	                }
	            }
	            .slick-next {
	                right: -40px;
	                &:hover {
	                    right: -45px;
	                }
	            }
	        }
	    }
		.bg-video {
	        .abs-name {
	        	bottom: 20px;
	            padding: 5px 100px 5px 50px;
	        }
	    }
        .slider-team {
        	.slick-prev {
                left: -40px;
                &:hover {
                    left: -45px;
                }
            }
            .slick-next {
                right: -40px;
                &:hover {
                    right: -45px;
                }
            }
        }
		.pad-program {
			.bg-partner {
	            .slider-partner {
	            	.slick-prev {
		                left: -40px;
		                &:hover {
		                    left: -45px;
		                }
		            }
		            .slick-next {
		                right: -40px;
		                &:hover {
		                    right: -45px;
		                }
		            }
		            .item {
			        	margin: 0 30px;
		            }
	            }
	        }
			.slider-program {
	            .slick-prev {
	                left: -40px;
	                &:hover {
	                    left: -45px;
	                }
	            }
	            .slick-next {
	                right: -40px;
	                &:hover {
	                    right: -45px;
	                }
	            }
	            .item {
		        	margin: 0 20px;
	            }
	        }
		}
		.bg-tentang {
			.pl30 {
				padding-left: 10px;
			}
		}
	}	
}