@media (max-width: 767px) {
	.xs30 {
		margin-bottom: 30px;
	}
	header {
		.header-top {
	        padding: 7px 0;
	        ul.l-top {
	            li {
	                font-size: 13px;
	                line-height: 15px;
	                a {
	                    padding: 2px 10px;
	                }
	            }
	        }
	    }
		.header-bottom {
			.menu {
				cursor: pointer;
				display: inline-block;
				position: relative;
				top: 2px;
				i {
					font-size: 20px;
					color: $red;
				}
			}
			.main-menu {
				display: none;
			}
		}
	}
	footer {
		padding: 30px 0 20px;
		.mb40 {
			margin-bottom: 30px;
		}
		.cp {
			margin-top: 40px;
			a {
				font-size: 12px;
			}
		}
	}
	button.hvr-button {
	    padding: 5px 20px;
	    font-size: 14px;
	    line-height: 20px;
	}

	.fixed-top {
		a {
			right: 10px;
			width: 45px;
			height: 45px;
			font-size: 16px;
			line-height: 17px;
		}
	}

	.fixed-message {
		a {
			right: 10px;
			width: 45px;
			height: 45px;
			.img {
				img {
					width: 25px;
				}
			}
			.txt {
				display: none !important;
			}
			&:hover {
				width: 50px;
				padding: 10px;
				.img {
					left: 55%;
					right: inherit;
					top: 50%;
					@include transform(translate(-50%,-50%));
				}
			}
		}
	}

	#main {
		.bg-cabang {
			margin-top: 30px;
	        .pad-program {
	        	margin-bottom: 30px;
	        	background: white;
	            padding-bottom: 20px;
	            .bdy-program {
	            	padding: 0;
	            }
	            .bg-elips {
	            	display: none;
	            }
	            .abs-elips {
	                top: 0;
	                @include transform(translateY(0));
	                position: relative;
	            }
	        }
	        .slider-cabang {
	            .slick-prev {
	                width: 25px;
	                height: 25px;
	                left: -10px;
	                z-index: 10;
	                background: url("../images/resp-program-left.png");
	                &:hover {
	                    left: -15px;
	                }
	            }
	            .slick-next {
	                width: 25px;
	                height: 25px;
	                right: -10px;
	                background: url("../images/resp-program-right.png");
	                &:hover {
	                    right: -15px;
	                }
	            }
	            .item {
	                .t-cabang {
	                    font-size: 18px;
	                    line-height: 25px;
	                }
	                ul.l-cabang {
	                    &.three {
	                        li {
	                            flex: 0 0 50%;
                            	max-width: 50%;
	                        }
	                    }
	                    &.five {
	                        li {
	                            flex: 0 0 50%;
                            	max-width: 50%;
	                        }
	                    }
	                    li {
	                    	width: 120px;
	                    	vertical-align: top;
	                        margin-bottom: 30px;
	                        .img-cabang {
	                            border: 3px solid white;
	                            width: 80px;
	                            height: 80px;
	                        }
	                        .nm-cabang {
	                            font-size: 14px;
	                            line-height: 17px;
	                            margin: 8px 0 0;
	                        }
	                        .jab-cabang {
	                            font-size: 12px;
	                            line-height: 15px;
	                        }
	                    }
	                }
	            }
	        }
	    }
	    .bg-answer {
	        margin-bottom: 60px;
	        .img-answer {
	        	display: none;
	        }
	        .abs {
	        	position: relative;
	        	top: 0;
	        	@include transform(translateY(0));
	            .slider-answer {
	                .slick-prev {
		                width: 25px;
		                height: 25px;
		                left: -10px;
		                z-index: 10;
		                background: url("../images/resp-program-left.png");
		                &:hover {
		                    left: -15px;
		                }
		            }
		            .slick-next {
		                width: 25px;
		                height: 25px;
		                right: -10px;
		                background: url("../images/resp-program-right.png");
		                &:hover {
		                    right: -15px;
		                }
		            }
	                .item {
	                	margin: 0 25px;
	                    .t {
	                    	padding: 5px 10px;
	                    	margin-bottom: 15px;
	                        font-size: 16px;
	                        line-height: 22px;
	                    }
	                }
	            }
	        }
	    }
		.resp-video {
			display: block;
		}
		.bg-video {
			margin-bottom: 0;
	        .abs {
	        	display: none;
	            iframe {
	                width: 150px;
	                height: 100px;
	            }
	        }
	        .abs-name {
	        	bottom: 10px;
	            padding: 2px 20px 2px 30px;
	            .t1 {
	                font-size: 13px;
	                line-height: 18px;
	            }
	            .t2 {
	                font-size: 11px;
	                line-height: 15px;
	            }
	        }
	    }
	    .css-artikel {
	    	.detail {
	            padding-right: 0;
	            .t-detail {
	                font-size: 18px;
	                line-height: 25px;
	            }
	            .date-detail {
	                font-size: 12px;
	                line-height: 15px;
	                margin-bottom: 10px;
	            }
	            .img-detail {
	                margin-bottom: 20px;
	                img {
	                    width: 200px;
	                }
	            }
	            .bdy-detail {
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
	        .slider-banner {
	            .item {
	                .bdy-banner {
	                    p {
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	        .input-artikel {
	            input {
	            	font-size: 14px;
	                width: 280px;
	            }
	        }
	        .box-artikel {
	        	ul.l-pag {
	                li {
	                    margin-right: 15px;
	                    a {
	                        font-size: 17px;
	                        line-height: 25px;
	                    }
	                }
	            }
	            .t-artikel {
	            	margin-bottom: 10px;
	                font-size: 17px;
	                line-height: 25px;
	                &:before {
	                    width: 100px;
	                }
	            }
	            .item-artikel2 {
	            	margin-bottom: 20px;
	            	&.small {
	                    a {
	                        .tbl {
	                            .cell {
	                                &.img-artikel {
	                                	width: 150px;
	                                    img {
	                                    	height: 130px;
	                                        height: 100px;
	                                    }
	                                }
	                            }
	                        }
	                    }
	                }
	                a {
	                    .tbl {
	                        .cell {
	                            &.img-artikel {
	                                width: 150px;
	                                img {
	                                    height: 130px;
	                                }
	                            }
	                            .t {
	                                font-size: 16px;
	                                line-height: 20px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
		.css-faq {
			.bg-faq {
		        height: 250px;
		        .t-faq {
	                margin-bottom: 10px;
	                font-size: 18px;
	                line-height: 25px;
	            }
	            .bdy-faq {
	                margin-bottom: 10px;
	                p {
	                    font-size: 13px;
	                    line-height: 20px;
	                }
	            }
		        .input-faq {
		            input {
		            	font-size: 14px;
		                width: 280px;
		            }
		        }
		        .text-faq {
		            font-size: 11px;
		        }
		    }
		    .title-faq {
	            font-size: 16px;
	            line-height: 22px;
	            margin-bottom: 10px;
	        }
	        ul.nav-tabs {
	        	margin-bottom: 25px;
	            li {
	                margin-bottom: 8px;
	            }
	        }
	        ul.accordionFaq {
	            li {
	                .in {
	                    font-size: 14px;
	                    line-height: 20px;
	                    i {
	                    	top: 3px;
	                    }
	                }
	                .bdy-answer {
	                	p {
	                		font-size: 13px;
	                		line-height: 15px;
	                	}
	                }
	            }
	        }
		}
		.slider-banner {
			.slick-prev {
                width: 25px;
                height: 25px;
                left: 5px;
                z-index: 10;
                background: url("../images/resp-program-left.png");
                &:hover {
                    left: 5px;
                }
            }
            .slick-next {
                width: 25px;
                height: 25px;
                right: 5px;
                background: url("../images/resp-program-right.png");
                &:hover {
                    right: 5px;
                }
            }
			.slick-dots {
	            bottom: 10px;
	            li {
	                margin: 0 7px;
	                width: 7px;
	                height: 7px;
	                button {
	                    width: 7px;
	                    height: 7px;
	                    &:before {
	                        font-size: 7px;
	                        width: 7px;
	                        height: 7px;
	                    }
	                }
	            }
	        }
	        .item {
	        	.w-text {
            		margin-left: 25px;
            		width: 245px;
            		&.right {
            			margin-left: 0;
            			margin-right: 25px;
            		}
            	}
	            height: 350px;
	            .t-banner {
	            	padding: 0;
	                font-size: 16px;
	                line-height: 22px;
	            }
	            .bdy-banner {
	                margin-bottom: 10px;
	                p {
	                    font-size: 12px;
	                    line-height: 17px;
	                }
	            }
	            .link {
	                a {
	                	.hvr-button {
		                	padding: 2px 15px;
		                }
		            }
                }
	        }
	    }
	    ul.timeline {
	        width: 100%;
	        li {
	            margin-top: 10px;
	            margin-bottom: 60px;
	            &:first-child {
	                padding-top: 30px;
	            }
	            &:last-child {
	                padding-bottom: 30px;
	                margin-bottom: 30px;
	            }
	            .year {
	                left: 15px;
	                font-size: 16px;
	                line-height: 22px;
	                top: 15px;
	                right: inherit;
	            }
	            .pos-rel {
	                &:before {
	                    left: -5px;
	                    width: 15px;
	                    height: 15px;
	                    margin-top: -7.5px;
	                }
	                .img {
	                	float: right;
	                    width: 80px;
	                    height: 80px;
	                    border: 2px solid $red;
	                }
	                .bdr {
	                    height: 2px;
	                }
	            }
	            .desc {
	                font-size: 13px;
	                line-height: 17px;
	                right: inherit;
	                left: 15px;
	                top: -30px;
	                width: 200px;
	            }
	            .direction-l {
	                width: 100%;
	                float: none;
	                text-align: left;
	                .desc {
	                	float: none;
	                }
	            }

	            .direction-r {
	                width: 100%;
	                float: none;
	                .desc {
	                	float: none;
	                }
	                .year {
	                    left: 20px;
	                    right: inherit;
	                    &:before {
	                        right: inherit;
	                        left: -40px;
	                    }
	                }
	                .pos-rel {
	                    &:before {
	                        left: -5px;
	                    }
	                }
	                .desc {
	                    left: 15px;
	                }
	            }
	        }
	        &:before {
	            left: 0;
	            margin-left: 0;
	        }
	    }
	    .slider-team {
            .slick-prev {
                width: 25px;
                height: 25px;
                left: -10px;
                z-index: 10;
                background: url("../images/resp-program-left.png");
                &:hover {
                    left: -15px;
                }
            }
            .slick-next {
                width: 25px;
                height: 25px;
                right: -10px;
                background: url("../images/resp-program-right.png");
                &:hover {
                    right: -15px;
                }
            }
            .item {
            	margin: 0 25px;
            	.img-team {
            		margin: 0 auto 20px;
            		width: 120px;
            	}
	            .nm-team {
	            	text-align: center;
	                font-size: 17px;
	            }
	            .jab-team {
	                font-size: 14px;
	                line-height: 20px;
	                margin: 5px 0 10px;
	            }
            }
        }
	    .pad-program {
	    	.bg-tentang-kami {
	            .img {
	                margin-bottom: 20px;
	            }
	            .t-kami {
	                font-size: 17px;
	                margin-bottom: 5px;
	            }
	            .bdy-kami {
	                padding-right: 0;
	                p {
	                    &.mb15 {
	                        margin-bottom: 5px;
	                    }
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
	    	.bg-partner {
	            margin: 0 0 20px;
	            .top-shadow {
	                margin-bottom: 30px;
	                height: 7px;
	            }
	            .bottom-shadow {
	                margin-top: 30px;
	                height: 7px;
	            }
	            .slider-partner {
	                .slick-prev {
		                width: 25px;
		                height: 25px;
		                left: -10px;
		                z-index: 10;
		                background: url("../images/resp-program-left.png");
		                &:hover {
		                    left: -15px;
		                }
		            }
		            .slick-next {
		                width: 25px;
		                height: 25px;
		                right: -10px;
		                background: url("../images/resp-program-right.png");
		                &:hover {
		                    right: -15px;
		                }
		            }
	            }
	        }
	        ul.nav-map {
	            justify-content: left;
	            li {
	                margin: 0 10px 20px;
                	.box-collapsed {
                		.t {
		                    font-size: 12px;
		                    letter-spacing: 0.5px;
		                    line-height: 18px;
		                }
		                .wa {
		                	text-align: center;
		                    a {
		                        font-size: 14px;
		                        letter-spacing: 0.3px;
		                        .bdr {
		                            border: 1px solid white;
		                        }
		                    }
		                }
                	}
	                .nav-link {
	                	.t-map {
	                		font-size: 15px;
	                		line-height: 20px;
	                	}
	                }
	            }
	        }
	    	ul.accordionArea {
	    		text-align: left;
	    		li {
	    			margin: 0 10px 20px;
	    			.in {
	    				font-size: 15px;
	    				line-height: 20px;
	    			}
	    			.t {
	                    font-size: 12px;
	                    letter-spacing: 0.5px;
	                    line-height: 18px;
	                }
	                .wa {
	                	text-align: center;
	                    a {
	                        font-size: 14px;
	                        letter-spacing: 0.3px;
	                        .bdr {
	                            border: 1px solid white;
	                        }
	                    }
	                }
	    		}
	    	}
	    	padding: 30px 0;
	    	&.pt40 {
	            padding-top: 20px;
	        }
	    	.t-program {
	            font-size: 18px;
	            line-height: 24px;
	        }
	        .bdy-program {
	            margin-bottom: 20px;
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	    	.slider-program {
	            .slick-prev {
	                width: 25px;
	                height: 25px;
	                left: -10px;
	                z-index: 10;
	                background: url("../images/resp-program-left.png");
	                &:hover {
	                    left: -15px;
	                }
	            }
	            .slick-next {
	                width: 25px;
	                height: 25px;
	                right: -10px;
	                background: url("../images/resp-program-right.png");
	                &:hover {
	                    right: -15px;
	                }
	            }
	            .item {
	            	margin: 0 25px;
	            	.img-program {
	            		margin-bottom: 15px;
	            	}
	                .nm-program {
	                    font-size: 17px;
	                    line-height: 24px;
	                    margin-bottom: 10px;
	                }
	                ul.l-program {
	                    li {
	                        border-left: 1px solid $red;
	                        padding-left: 12px;
	                        font-size: 13px;
	                        line-height: 15px;
	                    }
	                }
	            }
	        }
	        .item-program {
	            .in-program {
	            	margin-bottom: 20px;
	                .img {
	                    margin-bottom: 10px;
	                    img {
	                        height: 100px;
	                    }
	                }
	            }
	        }
	    }
	    .bg-tentang {
	    	padding: 30px 0;
	    	&.custom {
	            .pl30 {
	                padding-left: 0;
	                .t {
	                    font-size: 16px;
	                    line-height: 20px;
	                }
	            }
	        }
	    	&:before {
	            top: -5px;
	            height: 7px;
	        }
	        &:after {
	            bottom: -5px;
	            height: 7px;
	        }
	    	.img {
	    		margin-bottom: 15px;
	    		img {
	    			width: 200px;
	    		}
	    	}
			.pl30 {
				.t {
	                font-size: 16px;
	                margin-bottom: 10px;
	                line-height: 20px;
	            }
	            .bdy {
	            	p {
	            		font-size: 14px;
	            		line-height: 20px;
	            	}
	            }
	            .link {
	            	margin-top: 15px;
	            }
			}
		}
	}
	.maintenance {
	    .abs-maintenance {
	        ul {
	            li {
	                margin-right: 20px;
	                padding-right: 20px;
	                font-size: 13px;
	                line-height: 17px;
	            }
	        }
	    }
	    #countdown {
	        margin: 50px 0;
	        ul {
	            li {
	                font-size: 11px;
	                margin-right: 10px;
	                &:first-child {
	                    margin-right: 20px;
	                }
	                span {
	                    font-size: 30px;
	                    line-height: 40px;
	                }
	            }
	        }
	    }
	    .logo {
	        img {
	            width: 260px;
	        }
	    }
	    .txt {
	        font-size: 20px;
	        line-height: 22px;
	        margin-bottom: 3px;
	    }
	    .txt2 {
	        font-size: 16px;
	        line-height: 20px;
	    }
	}
}