@media (max-width: 991px) {
	body {
		padding-top: 70px;
	}
	header {
		.header-bottom {
			padding: 10px 0 !important;
			.logo {
				a {
					img {
						height: 45px !important;
					}
				}
			}
			.main-menu {
	            nav {
	                a {
	                    margin-right: 10px;
	                    font-size: 12px;
	                    padding: 0 4px;
	                    &:before {
	                    	height: 2px;
	                    	bottom: -5px !important;
	                    }
	                }
	            }
	        }
		}
	}
	#main {
		.css-artikel {
			.detail {
				padding-right: 20px;
			}
			.box-artikel {
				.t-artikel2 {
	                font-size: 15px;
	                line-height: 18px;
	                &.big {
	                    &:before {
	                        width: 125px;
	                    }
	                }
	                &.small {
	                    &:before {
	                        width: 85px;
	                    }
	                }
	                &:before {
	                    width: 110px;
	                }
	            }
				.item-artikel2 {
					&.small {
	                    a {
	                        .tbl {
	                            .cell {
	                                &.img-artikel {
	                                    img {
	                                        height: 100px;
	                                    }
	                                }
	                            }
	                        }
	                    }
	                }
				}
	            .item-artikel {
	                margin-bottom: 30px;
	                a {
	                    .in-artikel {
	                        height: 240px;
	                        .hvr-artikel {
	                        	height: 85px;
	                            .t {
	                                height: 40px;
	                                font-size: 15px;
	                                line-height: 20px;
	                                margin-bottom: 5px;
	                            }
	                            .date {
	                                font-size: 10px;
	                                line-height: 14px;
	                                color: white;
	                                font-style: italic;
	                                margin-bottom: 10px;
	                            }
	                            .bdy {
	                                p {
	                                    color: white;
	                                    margin-bottom: 0;
	                                    font-size: 12px;
	                                    line-height: 14pt;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
		}
		.bg-cabang {
	        padding: 0 0 40px;
	        .pad-program {
	        	top: -1px;
	            .bdy-program {
	            	padding: 0 40px;
	            }
	        }
	        .slider-cabang {
	            position: relative;
	            z-index: 10;
	            .slick-prev {
	                left: -30px;
	                &:hover {
	                    left: -35px;
	                }
	            }
	            .slick-next {
	                right: -30px;
	                &:hover {
	                    right: -35px;
	                }
	            }
	            .item {
	                .t-cabang {
	                    font-size: 22px;
	                    line-height: 30px;
	                }
	                ul.l-cabang {
	                    &.five {
	                        li {
	                            flex: 0 0 33.33%;
                            	max-width: 33.33%;
	                        }
	                    }
	                    li {
		                    .nm-cabang {
		                    	font-size: 16px;
		                    	line-height: 22px;
		                    }
	                    }
	                }
	            }
	        }
	    }
	    .bg-answer {
	        margin-bottom: 80px;
	        .abs {
	            .slider-answer {
	                .slick-prev {
		                left: -30px;
		                &:hover {
		                    left: -35px;
		                }
		            }
		            .slick-next {
		                right: -30px;
		                &:hover {
		                    right: -35px;
		                }
		            }
	                .item {
	                    .t {
	                    	margin-bottom: 10px;
	                        font-size: 18px;
	                        padding: 5px 15px;
	                        line-height: 25px;
	                    }
	                    .mb15 {
	                    	&.hidden-md {
	                    		display: none;
	                    	}
	                    }
	                    .t-answer {
	                        font-size: 14px;
	                        line-height: 18px;
	                    }
	                    .bdy-answer {
	                        p {
	                            font-size: 13px;
	                            line-height: 15px;
	                        }
	                    }
	                }
	            }
	        }
	    }
		.bg-video {
	        .abs {
	            iframe {
	                width: 350px;
	                height: 200px;
	            }
	        }
	        .abs-name {
	            padding: 5px 70px 5px 20px;
	            .t1 {
	                font-size: 18px;
	            }
	            .t2 {
	                font-size: 14px;
	                line-height: 17px;
	            }
	        }
	    }
		.css-faq {
			.bg-faq {
		        height: 350px;
		        .container {
		            position: relative;
		            z-index: 10;
		        }
		        .t-faq {
	                margin-bottom: 10px;
	                font-size: 28px;
	                line-height: 35px;
	            }
	            .bdy-faq {
	                margin-bottom: 15px;
	                p {
	                    font-size: 16px;
	                    line-height: 26px;
	                }
	            }
		    }
		    .title-faq {
	            font-size: 22px;
	            line-height: 30px;
	            margin-bottom: 15px;
	        }
	        ul.nav-tabs {
	            li {
	                margin-bottom: 10px;
	                a {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
	        ul.accordionFaq {
	            li {
	                .in {
	                    font-size: 16px;
	                    line-height: 25px;
	                }
	            }
	        }
		}
		.slider-banner {
			.slick-prev {
                left: 10px;
                &:hover {
                    left: 15px;
                }
            }
            .slick-next {
                right: 10px;
                &:hover {
                    right: 15px;
                }
            }
	        .item {
	            height: 500px;
	            .w-text {
	            	width: 500px;
	            }
	            .t-banner {
	                font-size: 28px;
	                line-height: 35px;
	            }
	            .bdy-banner {
	                p {
	                    font-size: 17px;
	                }
	            }
	        }
	    }
	    ul.timeline {
	        width: 700px;
	        li {
	            .pos-rel {
	                .img {
	                    width: 110px;
	                    height: 110px;
	                }
	            }
	            .year {
	            	top: 20px;
	            }
	            .desc {
	                width: 230px;
	                top: -40px;
	            }
	            .direction-l {
	                width: 350px;
	            }
	            .direction-r {
	                width: 350px;
	            }
	        }
	    }
	    .slider-team {
            .slick-prev {
                left: -30px;
                &:hover {
                    left: -35px;
                }
            }
            .slick-next {
                right: -30px;
                &:hover {
                    right: -35px;
                }
            }
            .item {
            	margin: 0 35px;
            	.pr30 {
	                padding-right: 0;
	            }
	            .nm-team {
	                font-size: 22px;
	            }
	            .jab-team {
	                font-size: 17px;
	                margin: 5px 0 15px;
	            }
	            .desc-team {
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
            }
        }
	    .pad-program {
	    	padding: 60px 0;
	    	.bg-tentang-kami {
	            .mb30 {
	                margin-bottom: 20px;
	            }
	            .t-kami {
	                font-size: 20px;
	                line-height: 26px;
	            }
	            .bdy-kami {
	                padding-right: 20px;
	            }
	        }
	    	.bg-partner {
	            margin: 0 0 20px;
	            .top-shadow {
	                margin-bottom: 40px;
	            }
	            .bottom-shadow {
	                margin-top: 40px;
	            }
	            .slider-partner {
	                .slick-prev {
		                left: -30px;
		                &:hover {
		                    left: -35px;
		                }
		            }
		            .slick-next {
		                right: -30px;
		                &:hover {
		                    right: -35px;
		                }
		            }
	            }
	        } 
	    	&.pt40 {
	            padding-top: 30px;
	        }
	        ul.nav-map {
	            li {
	                margin-right: 20px;
	                .nav-link {
	                	.t-map {
	                		font-size: 16px;
	                	}
	                }
	            }
	        }
	    	// ul.accordionArea {
	    	// 	li {
	    	// 		margin-right: 14px;
	    	// 		.in {
	    	// 			font-size: 17px;
	    	// 		}
	    	// 	}
	    	// }
	    	.t-program {
	            font-size: 24px;
	            line-height: 27px;
	        }
	        .bdy-program {
	            margin-bottom: 30px;
	            p {
	                font-size: 16px;
	                line-height: 20px;
	            }
	        }
	    	.slider-program {
	            .slick-prev {
	                left: -30px;
	                &:hover {
	                    left: -35px;
	                }
	            }
	            .slick-next {
	                right: -30px;
	                &:hover {
	                    right: -35px;
	                }
	            }
	            .item {
	            	margin: 0 25px;
	                .nm-program {
	                    font-size: 20px;
	                    line-height: 25px;
	                    margin-bottom: 15px;
	                }
	                .pl30 {
	                    padding-left: 0;
	                }
	                ul.l-program {
	                    li {
	                        margin-bottom: 15px;
	                        border-left: 2px solid $red;
	                        padding-left: 15px;
	                        font-size: 14px;
	                        line-height: 17px;
	                    }
	                }
	            }
	        }
	        .item-program {
	            .in-program {
	            	margin-bottom: 40px;
	                .img {
	                    margin-bottom: 15px;
	                    img {
	                        height: 120px;
	                    }
	                }
	                .nm {
	                    font-size: 16px;
	                }
	                .desc {
	                    p {
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	    }
	    .bg-tentang {
	    	padding: 50px 0;
	    	&.custom {
	            .img {
	            	margin-bottom: 30px;
	            	text-align: center;
	                @include transform(rotate(-2deg));
	            }
	            .pl30 {
	                padding-left: 0;
	                .t {
	                	text-align: center;
	                    font-size: 28px;
	                    line-height: 35px;
	                }
	            }
	        }
	    	.img {
	    		text-align: center;
	    		margin-bottom: 20px;
	    		img {
	    			margin: 0 auto;
	    			width: 350px;
	    		}
	    	}
			.pl30 {
				padding-left: 0;
				.t {
	                color: white;
	                font-size: 22px;
	                line-height: 30px;
	            }
	            .link {
	            	margin-top: 20px;
	            }
			}
		}
	}
	.maintenance {
	    .abs-maintenance {
	        ul {
	            li {
	                margin-right: 30px;
	                padding-right: 30px;
	                font-size: 15px;
	                line-height: 20px;
	            }
	        }
	    }
	    #countdown {
	        margin: 50px 0;
	        ul {
	            li {
	                font-size: 20px;
	                margin-right: 30px;
	                &:first-child {
	                    margin-right: 60px;
	                }
	                span {
	                    font-size: 70px;
	                    line-height: 80px;
	                }
	            }
	        }
	    }
	    .txt {
	        font-size: 35px;
	        line-height: 45px;
	    }
	    .txt2 {
	        font-size: 25px;
	        line-height: 35px;
	    }
	}
}