@import "bourbon/bourbon";

$red: #BC0A17;
$black: #000000;

html, body {
    background-color: #ffffff;
    color: $black;
    font-weight: normal;
    // overflow: hidden;
    margin: 0;
    font-family: 'ProximaNova';
}

.pos-rel {
    position: relative;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
    padding-top: 120px;
}

a {
    color: $black;
}

*:focus, a:hover, a:focus, input.form-control:focus, input.form-control:hover, select.form-control:focus, select.form-control:hover, textarea.form-control:focus, textarea.form-control:hover, button:hover, button:focus, button.btn:hover, button.btn:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

textarea.form-control {
    height: 140px;
    resize: none;
}

.form-control {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: white;
    border: 0;
    border: 1px solid #C4C4C4;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 15px;
    outline: none;
    @include transition(all 0.3s);
    &::placeholder {
        opacity: 1;
        color: $black;
    }

    &:-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }

    &::-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }
    &:focus {
        border: 1px solid $black;
        background: #F3F3F3;
    }
    &:disabled {
        cursor: no-drop;
    }
}

select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
.tbl {
    width: 100%;
    height: 100%;
    display: table;
    .cell {
        display: table-cell;
        vertical-align: middle;
        &.v-top {
            vertical-align: top;
        }
    }
}

a.inline-block {
    display: inline-block;
}

button.hvr-button {
    border: 0;
    color: white;
    background: white;
    color: $red;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 30px;
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    letter-spacing: 0;
    @include transition(all 0.3s);
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    &:hover {
        bottom: 5px;
    }
    &.red {
        background: $red;
        color: white;
    }
}

a.block {
    display: block;
}
a.inline-block {
    display: inline-block;
}

label {
    &.hide {
        position:absolute;
        z-index: -1;
    }
}
.visible-xs {
    display: none;
}

.slide-menu {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    background: white;
    @include transition(all 0.3s);
    z-index: 1200;
    height: auto;
    padding: 0;
    .pad20 {
        padding: 85px 20px 20px;
    }
    &.active {
        top: 0;
    }
    .box-close {
        position: absolute;
        top: 18px;
        right: 17px;
        line-height: 1;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        i {
            color: $red;
            font-size: 20px;
        }
    }
    nav {
        a {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
            color: $red;
            @include transition(all 0.3s);
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                font-weight: bold;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    visibility: hidden;
    z-index: -1;
    @include transition(all 0.3s);
    &.active {
        z-index: 1100;
        visibility: visible;
        background: rgba(0,0,0,.7);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111111;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
    &.scroll {
        .header-bottom { 
            padding: 10px 0;
            .logo {
                a {
                    img {
                        height: 55px;
                    }
                }
            }
            .main-menu {
                nav {
                    a {
                        &:before {
                            bottom: -7px;
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        background-color: white;
        padding: 12px 0;
        @include transition(all 0.3s);
        .menu {
            display: none;
        }
        .logo {
            a {
                display: inline-block;
                img {
                    @include transition(all 0.3s);
                    max-width: 100%;
                    height: 65px;
                }
            }
        }
        .main-menu {
            position: relative;
            top: -2px;
            text-align: right;
            nav {
                a {
                    cursor: pointer;
                    margin-right: 25px;
                    font-size: 16px;
                    line-height: 20px;
                    color: $black;
                    @include transition(all 0.3s);
                    position: relative;
                    padding: 0 10px;
                    &:before {
                        @include transition(all 0.3s);
                        content: '';
                        width: 100%;
                        height: 3px;
                        background: transparent;
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        @include transform(translateX(-50%));
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.active {
                        color: $red;
                        font-weight: bold;
                        &:before {
                            background-color: $red;
                        }
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
    .header-top {
        background-color: $red;
        padding: 10px 0;
        ul.l-top {
            text-align: right;
            margin: 0;
            padding: 0;
            li {
                font-weight: bold;
                font-size: 14px;
                color: white;
                line-height: 17px;
                display: inline-block;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    border-radius: 5px;
                    color: $red;
                    padding: 2px 14px;
                    background: white;
                }
            }
        }
    }
}

footer {
    background: $red;
    padding: 40px 0 30px;
    color: white;
    .t-footer {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 7px;
        letter-spacing: 0.3px;
    }
    .mb40 {
        margin-bottom: 40px;
    }
    ul.l-footer {
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            display: block;
            a {
                .icon {
                    margin-right: 3px;
                    display: inline-block;
                    border: 2px solid white;
                    padding: 2px;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    background-color: transparent;
                    @include transition(all 0.3s);
                    font-size: 12px;
                }
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.7px;
                color: white;
                cursor: pointer;
                @include transition(all 0.3s);
                &:hover {
                    .icon {
                        background: white;
                        color: $red;
                    }
                    color: white;
                }
            }
        }
    }
    ul.l-soc {
        margin: 0;
        padding: 0;
        li {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            display: inline-block;
            a {
                .icon {
                    display: block;
                    border: 2px solid white;
                    padding: 1px;
                    border-radius: 5px;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    background-color: transparent;
                    @include transition(all 0.3s);
                }
                font-size: 12px;
                line-height: 20px;
                color: white;
                @include transition(all 0.3s);
                &:hover {
                    .icon {
                        background: white;
                    }
                    color: $red;
                }
            }
        }
    }
    .cp {
        margin-top: 50px;
        color: white;
        text-align: center;
        a {
            @include transition(all 0.3s);
            color: white;
            font-size: 14px;
            line-height: 20px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.fixed-top {
    display: none;
    a {
        display: block;
        border-radius: 8px;
        width: 55px;
        height: 55px;
        border: 2px solid white;
        cursor: pointer;
        position: fixed;
        right: 15px;
        top: calc(50% + 160px);
        z-index: 1000;
        @include transition(all 0.3s);
        background-color: $red;
        font-weight: bold;
        text-align: center;
        color: white !important;
        font-size: 18px;
        line-height: 20px;
    }
}


.fixed-message {
    display: none;
    a {
        display: block;
        background-color: $red;
        border: 2px solid white;
        border-radius: 8px;
        width: 55px;
        height: 55px;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        right: 15px;
        top: calc(50% + 100px);
        z-index: 1000;
        @include transition(all 0.3s);
        .img {
            text-align: center;
            position: absolute;
            left: 55%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            img {
                width: 30px;
            }
        }
        .txt {
            white-space: nowrap;
            color: white;
            font-size: 15px;
            line-height: 1;
            margin-right: 15px;
            display: none;
            @include transition(all 0.3s);
            .lt {
                letter-spacing: 0.5px;
            }
            .bold {
                font-weight: bold;
                font-size: 17px;
            }
        }
        &:hover {
            width: 210px;
            padding: 10px 15px;
            .img {
                left: inherit;
                right: 20px;
                @include transform(translate(0,-50%));
            }
            .txt {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

#main {
    margin: 0 auto;
    max-width: 2560px;
    .css-artikel {
        .detail {
            padding-right: 40px;
            .t-detail {
                font-size: 25px;
                line-height: 30px;
                font-weight: bold;
                color: $red;
                margin-bottom: 5px;
            }
            .date-detail {
                font-size: 14px;
                line-height: 17px;
                font-style: italic;
                margin-bottom: 15px;
            }
            .img-detail {
                margin-bottom: 20px;
                img {
                    width: 300px;
                }
            }
            .bdy-detail {
                p {
                    font-size: 16px;
                    line-height: 22px;
                    text-align: justify;
                }
            }
        }
        .slider-banner {
            .item {
                .t-banner {
                    text-align: left;
                    color: $black;
                }
                .bdy-banner {
                    text-align: left;
                    p {
                        color: $black;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                .link {
                    a {
                        .hvr-button {
                            color: $black;
                        }
                    }
                }
            }
        }
        .input-artikel {
            margin-bottom: 30px;
            position: relative;
            display: inline-block;
            &.fullwidth {
                display: block;
                input {
                    width: 100%;
                }
            }
            input {
                padding-right: 40px;
                margin: 0 auto;
                width: 400px;
                background: white;
                &::placeholder {
                    opacity: 1;
                    color: #c4c4c4;
                }

                &:-ms-input-placeholder {
                    opacity: 1;
                    color: #c4c4c4;
                }

                &::-ms-input-placeholder {
                    opacity: 1;
                    color: #c4c4c4;
                }
            }
            button {
                border-radius: 5px;
                position: absolute;
                top: 7px;
                padding: 0;
                right: 10px;
                width: 20px;
                height: 20px;
                text-align: center;
                border: 0;
                background: transparent;
                img {
                    width: 20px;
                    position: relative;
                    top: -2px;
                }
            }
        }
        .box-artikel {
            .item-artikel {
                margin-bottom: 40px;
                a {
                    display: block;
                    &:hover {
                        .in-artikel {
                            .hvr-artikel {
                                height: calc(100% - 40px);
                            }
                        }
                    }
                    .in-artikel {
                        position: relative;
                        background-size: cover !important;
                        width: 100%;
                        height: 280px;
                        padding: 0;
                        .hvr-artikel {
                            width: calc(100% - 40px);
                            position: absolute;
                            padding: 15px;
                            height: 100px;
                            overflow: hidden;
                            @include transition(height 1s ease);
                            right: 0;
                            bottom: 0;
                            margin: 20px;
                            background: rgba(188, 10, 23, 0.8);
                            background-blend-mode: multiply;
                            .t {
                                overflow: hidden;
                                height: 50px;
                                font-size: 18px;
                                font-weight: bold;
                                color: white;
                                line-height: 25px;
                                margin-bottom: 7px;
                            }
                            .date {
                                font-size: 10px;
                                line-height: 14px;
                                color: white;
                                font-style: italic;
                                margin-bottom: 10px;
                            }
                            .bdy {
                                p {
                                    color: white;
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    line-height: 14pt;
                                }
                            }
                        }
                    }
                }
            }
            ul.l-pag {
                margin: -10px 0 30px;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-size: 22px;
                        line-height: 25px;
                        color: $red;
                        @include transition(all 0.3s);
                        &:hover {
                            opacity: 0.7;
                        }
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
            .t-artikel {
                position: relative;
                padding-right: 20px;
                font-weight: bold;
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 28px;
                display: inline-block;
                color: $red;
                text-transform: uppercase;
                &:before {
                    content: '';
                    position: absolute;
                    left: 100%;
                    width: 150px;
                    background-color: $black;
                    height: 1px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
            .t-artikel2 {
                position: relative;
                padding-right: 20px;
                margin-bottom: 10px;
                font-size: 17px;
                line-height: 25px;
                display: inline-block;
                color: $black;
                text-transform: uppercase;
                &.big {
                    &:before {
                        width: 185px;
                    }
                }
                &.small {
                    &:before {
                        width: 145px;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 100%;
                    width: 170px;
                    background-color: #949494;
                    height: 1px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
            ul.l-artikel {
                margin: 0 0 30px;
                padding: 0;
                li {
                    display: block;
                    a {
                        font-size: 15px;
                        line-height: 18px;
                        color: #6D6D6D;
                        @include transition(all 0.3s);
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
            .item-artikel2 {
                &.small {
                    margin-bottom: 20px;
                    a {
                        .tbl {
                            .cell {
                                vertical-align: top;
                                &.img-artikel {
                                    width: 200px;
                                    img {
                                        height: 180px;
                                        height: 135px;
                                    }
                                }
                                .t {
                                    overflow: inherit;
                                    height: auto;
                                    font-size: 17px;
                                    line-height: 24px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
                a {
                    display: block;
                    .tbl {
                        .cell {
                            &.img-artikel {
                                width: 220px;
                                padding-right: 20px;
                                img {
                                    height: 200px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .t {
                                overflow: hidden;
                                height: 80px;
                                font-size: 25px;
                                font-weight: bold;
                                color: $red;
                                line-height: 25px;
                                margin-bottom: 2px;
                            }
                            .date {
                                font-size: 11px;
                                line-height: 15px;
                                color: $black;
                                font-style: italic;
                                margin-bottom: 10px;
                            }
                            .bdy {
                                p {
                                    color: $black;
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    line-height: 12pt;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .css-faq {
        .bg-faq {
            background-size: cover !important;
            background-color: rgba(188,18,23,0.4);
            background-blend-mode: multiply;
            width: 100%;
            height: 450px;
            color: white;
            text-align: center;
            .container {
                position: relative;
                z-index: 10;
            }
            .t-faq {
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
            }
            .bdy-faq {
                margin-bottom: 10px;
                p {
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 26px;
                }
            }
            .input-faq {
                text-align: center;
                position: relative;
                display: inline-block;
                input {
                    padding-right: 40px;
                    margin: 0 auto;
                    width: 400px;
                    background: white;
                }
                button {
                    border-radius: 5px;
                    position: absolute;
                    top: 3px;
                    right: 2px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    border: 0;
                    background: $red;
                    img {
                        width: 20px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
            .text-faq {
                font-size: 13px;
                line-height: 18px;
                text-align: center;
                margin-top: 10px;
            }
        }
        .title-faq {
            font-size: 26px;
            line-height: 35px;
            color: $red;
            font-weight: bold;
            margin-bottom: 20px;
        }
        ul.nav-tabs {
            display: block;
            border: 0;
            li {
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    &.active {
                        font-weight: bold;
                    }
                    padding: 0;
                    background: transparent;
                    border: 0;
                    @include transition(all 0.3s);
                    color: $black;
                    display: inline-block;
                    font-size: 16px;
                    line-height: 25px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        ul.accordionFaq {
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 15px;
                display: block;
                border-bottom: 1px solid #C4C4C4;
                padding-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                .in {
                    position: relative;
                    font-weight: bold;
                    color: $red;
                    font-size: 18px;
                    line-height: 26px;
                    cursor: pointer;
                    @include transition(all 0.3s);
                    padding-left: 20px;
                    &.collapsed {
                        color: $black;
                    }
                    &:hover {
                        color: $red;
                    }
                    i {
                        left: 0;
                        top: 4px;
                        position: absolute;
                    }
                }
                .bdy-answer {
                    margin-top: 8px;
                    padding-left: 20px;
                    p {
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .slider-banner {
        margin-bottom: 0;
        .slick-prev {
            width: 50px;
            height: 50px;
            left: 20px;
            z-index: 10;
            background: url("../images/program-left.png");
            @include transition(all 0.3s);
            &:hover {
                left: 15px;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 50px;
            height: 50px;
            right: 20px;
            z-index: 10;
            background: url("../images/program-right.png");
            @include transition(all 0.3s);
            &:hover {
                right: 15px;
            }
            &:before {
                display: none;
            }
        }
        .slick-dots {
            bottom: 30px;
            li {
                margin: 0 10px;
                width: 10px;
                height: 10px;
                line-height: 1;
                button {
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    &:before {
                        font-size: 10px;
                        color: white;
                        width: 10px;
                        height: 10px;
                        line-height: 1;
                    }
                }
            }
        }
        .item {
            position: relative;
            width: 100%;
            height: 600px;
            color: white;
            .bg {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img {
                    @include transition(all 0.3s);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    animation: image 8s;
                }
            }
            @keyframes image {
                0% { @include transform(scale(1)); }
                100% { @include transform(scale(1.1)); }
            }
            .w-text {
                position: relative;
                z-index: 10;
                width: 550px;
                &.right {
                    float: right;
                    text-align: right;
                }
            }
            .t-banner {
                p {
                    margin-bottom: 0;
                }
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
            }
            .bdy-banner {
                margin-bottom: 20px;
                p {
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            .link {
                text-align: center;
                a {
                    display: inline-block;
                    .hvr-button {
                        padding: 2px 30px;
                    }
                }
            }
        }
    }
    ul.timeline {
        margin: 0 auto;
        position: relative;
        padding: 0;
        width: 800px;
        li {
            list-style: none;
            padding: 0;
            &:first-child {
                padding-top: 50px;
            }
            &:last-child {
                padding-bottom: 50px;
            }
            .year {
                position: absolute;
                right: 20px;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                color: $red;
                top: 25px;
            }
            .pos-rel {
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    right: -10px;
                    content: " ";
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;
                    background: $red;
                    border-radius: 50%;
                    z-index: 10;
                }
                .img {
                    position: relative;
                    z-index: 10;
                    width: 130px;
                    height: 130px;
                    border: 4px solid $red;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .bdr {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include transform(translateY(-50%));
                    width: 100%;
                    height: 4px;
                    background-color: $red;
                }
            }
            .desc {
                font-size: 14px;
                line-height: 22px;
                color: $black;
                position: relative;
                top: -50px;
                right: 20px;
                width: 250px;
            }
            .direction-l {
                position: relative;
                width: 400px;
                float: left;
                text-align: right;
                .desc {
                    float: right;
                }
            }
            .direction-r {
                position: relative;
                width: 400px;
                float: right;
                .desc {
                    float: left;
                }
                .year {
                    left: 20px;
                    right: inherit;
                    &:before {
                        right: inherit;
                        left: -40px;
                    }
                }
                .pos-rel {
                    &:before {
                        left: -10px;
                        right: inherit;
                    }
                    .img {
                        float: right;
                    }
                }
                .desc {
                    left: 20px;
                    right: inherit;
                }
            }
            &:after {
                content: "";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }
        }
        &:before {
            position: absolute;
            left: 50%;
            top: 0;
            content: " ";
            display: block;
            width: 4px;
            height: 100%;
            margin-left: -2px;
            background: $red;
            z-index: 5;
        }
    }
    .slider-team {
         .slick-prev {
            width: 50px;
            height: 50px;
            left: -80px;
            z-index: 10;
            background: url("../images/program-left.png");
            @include transition(all 0.3s);
            &:hover {
                left: -85px;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            width: 50px;
            height: 50px;
            right: -80px;
            z-index: 10;
            background: url("../images/program-right.png");
            @include transition(all 0.3s);
            &:hover {
                right: -85px;
            }
            &:before {
                display: none;
            }
        }
        .item {
            .pr30 {
                padding-right: 30px;
            }
            .img-team {
                border: 5px solid white;
                box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.25);
                img {
                    width: 100%;
                }
            }
            .nm-team {
                font-size: 25px;
                line-height: 30px;
                font-weight: bold;
                color: $red;
            }
            .jab-team {
                font-size: 20px;
                line-height: 26px;
                margin: 10px 0 25px;
            }
            .desc-team {
                p {
                    margin-bottom: 0;
                    text-align: justify;
                    font-size: 17px;
                    line-height: 24px;
                }
            }
        }
    }
    .bg-answer {
        position: relative;
        margin-bottom: 100px;
        .img-answer {
            img {
                width: 100%;
            }
        }
        .abs {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            left: 0;
            width: 100%;
            .slider-answer {
                margin-bottom: 0;
                .slick-prev {
                    width: 50px;
                    height: 50px;
                    left: -80px;
                    z-index: 10;
                    background: url("../images/program-left.png");
                    @include transition(all 0.3s);
                    &:hover {
                        left: -85px;
                    }
                    &:before {
                        display: none;
                    }
                }
                .slick-next {
                    width: 50px;
                    height: 50px;
                    right: -80px;
                    z-index: 10;
                    background: url("../images/program-right.png");
                    @include transition(all 0.3s);
                    &:hover {
                        right: -85px;
                    }
                    &:before {
                        display: none;
                    }
                }
                .item {
                    margin: 0 40px;
                    .t {
                        text-align: center;
                        margin-bottom: 25px;
                        font-weight: bold;
                        color: $red;
                        font-size: 27px;
                        line-height: 35px;
                        background: transparent;
                        border-radius: 8px;
                        border: 3px solid $red;
                        padding: 6px 20px;
                    }
                    .mb15 {
                        margin-bottom: 15px;
                    }
                    .t-answer {
                        margin-bottom: 5px;
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: bold;
                        color: $red;
                        text-align: center;
                    }
                    .bdy-answer {
                        p {
                            font-size: 14px;
                            line-height: 18px;
                            text-align: justify;
                        }
                    }
                    .link {
                        text-align: center;
                        a {
                            display: inline-block;
                            .hvr-button {
                                background-color: $red;
                                color: white;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .resp-video {
        display: none;
        iframe {
            width: 100%;
            height: 150px;
        }
    }
    .bg-video {
        position: relative;
        .img-video {
            img {
                width: 100%;
            }
        }
        .abs {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            left: 0;
            width: 100%;
            iframe {
                border: 5px solid white;
                width: 500px;
                height: 330px;
            }
        }
        .abs-name {
            position: absolute;
            right: 0;
            bottom: 50px;
            background: $red;
            text-align: right;
            padding: 5px 140px 5px 70px;
            border-radius: 30px 0px 0px 30px;
            &:before {
                content: '';
                width: 40px;
                height: 100%;
                position: absolute;
                top: 0;
                left: -15px;
                background: $red;
                opacity: 0.7;
                border-radius: 30px 0px 0px 30px;
            }
            .t1 {
                font-size: 20px;
                line-height: 26px;
                color: white;
                font-weight: bold;
            }
            .t2 {
                font-style: italic;
                color: white;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    .bg-cabang {
        background-size: cover !important;
        height: 100%;
        width: 100%;
        padding: 0 0 70px;
        position: relative;
        .pad-program {
            margin-bottom: 50px;
            padding: 0;
            position: relative;
            .bg-elips {
                img {
                    width: 100%;
                }
            }
            .abs-elips {
                width: 100%;
                top: 65%;
                @include transform(translateY(-50%));
                position: absolute;
                left: 0;
                z-index: 10;
            }
        }
        // &:before {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgba(188,18,23,0.6);
        // }
        .slider-cabang {
            position: relative;
            z-index: 10;
            .slick-prev {
                width: 50px;
                height: 50px;
                left: -80px;
                z-index: 10;
                background: url("../images/program-left.png");
                @include transition(all 0.3s);
                &:hover {
                    left: -85px;
                }
                &:before {
                    display: none;
                }
            }
            .slick-next {
                width: 50px;
                height: 50px;
                right: -80px;
                z-index: 10;
                background: url("../images/program-right.png");
                @include transition(all 0.3s);
                &:hover {
                    right: -85px;
                }
                &:before {
                    display: none;
                }
            }
            .item {
                .t-cabang {
                    margin-bottom: 20px;
                    text-align: center;
                    color: white;
                    font-size: 28px;
                    line-height: 35px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                ul.l-cabang {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    padding: 0;
                    justify-content: center;
                    &.three {
                        li {
                            flex: 0 0 33.33%;
                            max-width: 33.33%;
                        }
                    }
                    &.five {
                        li {
                            flex: 0 0 20%;
                            max-width: 20%;
                        }
                    }
                    li {
                        margin-bottom: 40px;
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        list-style: none;
                        text-align: center;
                        .img-cabang {
                            margin: 0 auto;
                            border: 5px solid white;
                            width: 125px;
                            height: 125px;
                            border-radius: 50%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                        .nm-cabang {
                            color: white;
                            font-size: 18px;
                            line-height: 23px;
                            font-weight: bold;
                            margin: 10px 0 0;
                        }
                        .jab-cabang {
                            color: white;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    .pad-program {
        padding: 80px 0;
        .bg-tentang-kami {
            .mb30 {
                margin-bottom: 30px;
            }
            .img {
                img {
                    max-width: 100%;
                }
            }
            .t-kami {
                font-size: 22px;
                line-height: 26px;
                font-weight: bold;
                color: $red;
                margin-bottom: 10px;
            }
            .bdy-kami {
                padding-right: 60px;
                p {
                    &.mb15 {
                        margin-bottom: 15px;
                    }
                    a {
                        color: $black;
                        @include transition(all 0.3s);
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 0;
                    .bold {
                        font-weight: bold;
                        color: $red;
                    }
                }
            }
        }
        .bg-partner {
            margin: 0 0 20px;
            .top-shadow {
                height: 10px;
                margin-bottom: 60px;
                width: 100%;
                box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
            }
            .bottom-shadow {
                margin-top: 60px;
                height: 10px;
                width: 100%;
                box-shadow: 0px -8px 9px rgba(0, 0, 0, 0.25);
            }
            .slider-partner {
                .slick-prev {
                    width: 50px;
                    height: 50px;
                    left: -80px;
                    z-index: 10;
                    background: url("../images/program-left.png");
                    @include transition(all 0.3s);
                    &:hover {
                        left: -85px;
                    }
                    &:before {
                        display: none;
                    }
                }
                .slick-next {
                    width: 50px;
                    height: 50px;
                    right: -80px;
                    z-index: 10;
                    background: url("../images/program-right.png");
                    @include transition(all 0.3s);
                    &:hover {
                        right: -85px;
                    }
                    &:before {
                        display: none;
                    }
                }
                .item {
                    margin: 0 40px;
                    display: inline-block !important;
                    float: none;
                    vertical-align: middle;
                    .img {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        } 
        &.pt20 {
            padding-top: 20px;
        }
        &.pb20 {
            padding-bottom: 20px;
        }
        .bg-follow {
            text-align: center;
            margin-bottom: 25px;
            .t-program {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                margin-bottom: 0;
            }
            ul.l-soc {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                li {
                    margin-right: 7px;
                    &:last-child {
                        margin-right: 0;
                    }
                    display: inline-block;
                    a {
                        .icon {
                            display: block;
                            border: 2px solid $red;
                            padding: 1px;
                            border-radius: 5px;
                            width: 28px;
                            height: 28px;
                            text-align: center;
                            background-color: transparent;
                        }
                        font-size: 14px;
                        line-height: 25px;
                        color: $red;
                        @include transition(all 0.3s);
                        &:hover {
                            .icon {
                                background: $red;
                            }
                            color: white;
                        }
                    }
                }
            }
        }
        .t-program {
            font-size: 28px;
            line-height: 32px;
            text-align: center;
            color: $red;
            font-weight: bold;
        }
        .bdy-program {
            margin-bottom: 40px;
            text-align: center;
            &.mb20 {
                margin-bottom: 20px;
            }
            &.mb10 {
                margin-bottom: 10px;
            }
            &.mb0 {
                margin-bottom: 0px;
            }
            p {
                margin-bottom: 0;
                font-size: 18px;
                line-height: 23px;
            }
        }
        .slider-program {
            margin-bottom: 30px;
            .slick-prev {
                width: 50px;
                height: 50px;
                left: -80px;
                z-index: 10;
                background: url("../images/program-left.png");
                @include transition(all 0.3s);
                &:hover {
                    left: -85px;
                }
                &:before {
                    display: none;
                }
            }
            .slick-next {
                width: 50px;
                height: 50px;
                right: -80px;
                z-index: 10;
                background: url("../images/program-right.png");
                @include transition(all 0.3s);
                &:hover {
                    right: -85px;
                }
                &:before {
                    display: none;
                }
            }
            .item {
                .img-program {
                    img {
                        width: 100%;
                    }
                }
                .nm-program {
                    color: $red;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 30px;
                    margin-bottom: 25px;
                }
                .pl30 {
                    padding-left: 20px;
                }
                ul.l-program {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        border-left: 2px solid $red;
                        padding-left: 15px;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
        .item-program {
            .in-program {
                text-align: center;
                .img {
                    margin-bottom: 20px;
                    img {
                        height: 150px;
                    }
                }
                .nm {
                    color: $red;
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    line-height: 24px;
                }
                .desc {
                    p {
                        margin-bottom: 0;
                        font-size: 15px;
                        text-align: justify;
                        line-height: 20px;
                    }
                }
            }
        }
        .tab-map {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        ul.nav-map {
            justify-content: center;
            border: 0;
            li {
                margin-right: 60px;
                vertical-align: top;
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    .box-collapsed {
                        display: block;
                    }
                }
                .box-collapsed {
                    display: none;
                    .t {
                        color: $black;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                        font-size: 15px;
                        letter-spacing: 1px;
                        line-height: 17px;
                    }
                    .wa {
                        a {
                            background: #36B649;
                            padding: 1px 2px;
                            display: inline-block;
                            @include transition(all 0.3s);
                            color: white;
                            font-size: 16px;
                            border-radius: 8px;
                            letter-spacing: 0.5px;
                            &:hover {
                                opacity: 0.7;
                            }
                            .bdr {
                                border: 1.5px solid white;
                                border-radius: 8px;
                                padding: 0 7px;
                            }
                            i {
                                margin-right: 3px;
                            }
                        }
                    }
                }
                .nav-link {
                    background: transparent;
                    padding: 0;
                    border: 0;
                    min-width: 120px;
                    .t-map {
                        font-weight: bold;
                        color: $red;
                        font-size: 20px;
                        line-height: 26px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        @include transition(all 0.3s);
                        &:hover {
                            opacity: 0.7;
                        }
                        i {
                            margin-right: 3px;
                            top: 1px;
                            position: relative;
                        }
                        .fa-angle-down {
                            display: none;
                        }
                    }
                    &.active {
                        .t-map {
                            .fa-angle-right {
                                display: none;
                            }
                            .fa-angle-down {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .bg-tentang {
        padding: 70px 0;
        background: $red;
        position: relative;
        &.custom {
            .img {
                @include transform(rotate(-3deg));
            }
            &:before, &:after {
                display: none;
            }
            .pl30 {
                padding-left: 50px;
                .t {
                    font-size: 35px;
                    line-height: 40px;
                    text-align: left;
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: -8px;
            left: 0;
            height: 10px;
            width: 100%;
            box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 10px;
            width: 100%;
            box-shadow: 0px -8px 9px rgba(0, 0, 0, 0.25);
        }
        .img {
            img {
                width: 100%;
            }
        }
        .pl30 {
            padding-left: 30px;
            .t {
                color: white;
                font-size: 28px;
                line-height: 35px;
                margin-bottom: 15px;
                text-align: center;
                font-weight: bold;
            }
            .bdy {
                p {
                    color: white;
                    text-align: justify;
                    margin-bottom: 0;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .link {
                margin-top: 25px;
                text-align: center;
                a {
                    display: inline-block;
                    .hvr-button {
                        color: $black;
                    }
                }
            }
        }
    }
}

.bg-main {
    background-size: cover !important;
    width: 100%;
    background-color: rgb(188, 10, 23);
    background-blend-mode: multiply;
}
.maintenance {
    padding: 0;
    height: 100vh;
    position: relative;
    .abs-maintenance {
        position: absolute;
        width: 100%;
        padding: 10px;
        background: $red;
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 40px;
                padding-right: 40px;
                color: white;
                font-size: 17px;
                line-height: 24px;
                border-right: 1px solid white;
                &:last-child {
                    border-right: 0;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .container {
        position: relative;
        z-index: 100;
    }
    #countdown {
        margin: 70px 0;
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                vertical-align: middle;
                display: inline-block;
                font-size: 25px;
                list-style-type: none;
                color: white;
                margin-right: 40px;
                font-weight: bold;
                text-transform: uppercase;
                &:first-child {
                    margin-right: 90px;
                }
                &:last-child {
                    margin-right: 0;
                }
                span {
                    font-weight: bold;
                    font-size: 90px;
                    line-height: 100px;
                    display: block;
                }
            }
        }
    }
    .logo {
        text-align: center;
        img {
            margin: 0 auto;
            width: 400px;
        }
    }
    .txt {
        font-size: 45px;
        line-height: 55px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    .txt2 {
        font-size: 35px;
        line-height: 45px;
        color: white;
        text-align: center;
    }
}


@import "desktop";
@import "tablet";
@import "mobile";
@import "small_mobile";